body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    /* background-image: url('assets/background.jpg') */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #a33e22;
    color: white;
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo {
    height: 50px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#topgrids-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.topgrid-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
}


.topgrid-item div {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}


.topgrid-item:hover {
    background-color: #f1f1f1;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-item h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.grid-item h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.preview-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

.preview-image:last-child {
    margin-right: 0;
}

